{:ook.search/facets
 [{:name "Product"
   :sort-priority 1
   :parent-dimension "def/trade/property/dimension/product"
   :dimensions ["def/trade/property/dimension/sitc-4"
                "data/gss_data/trade/ons-pink-book-trade-in-services#dimension/pink-book-services"
                "data/gss_data/trade/ons-balance-of-payments#dimension/bop-services"
                "data/gss_data/trade/ons_cpa#dimension/cpa-2008"]}
  {:name "Industry"
   :sort-priority 2
   :parent-dimension "def/trade/property/dimension/industry"
   :dimensions ["data/gss_data/trade/ons-uk-trade-in-services-by-industry-country-and-service-type-exports#dimension/trade-industry"
                "data/gss_data/trade/ons-international-trade-in-services-by-subnational-areas-of-the-uk#dimension/industry-grouping"
                "data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/sector"
                "data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/subsector"
                "def/trade/property/dimension/sic-2007"
                "def/trade/property/dimension/ons-functional-category"]}
  {:name "Geography"
   :parent-dimension "sdmxd:refArea"
   :sort-priority 3
   :dimensions ["data/gss_data/trade/hmrc-overseas-trade-statistics/hmrc-overseas-trade-statistics-sitc#dimension/country_id"
                "data/gss_data/trade/hmrc-overseas-trade-statistics/hmrc-overseas-trade-statistics-cn8#dimension/country_id"
                "data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/country"
                "data/gss_data/trade/hmrc-regional-trade-statistics#dimension/uk-region"
                "data/gss_data/trade/hmrc-regional-trade-statistics#dimension/country"
                "data/gss_data/trade/ons_mrets#dimension/trade-area"
                "data/gss_data/trade/ons-uk-total-trade#dimension/country"]}
  {:name "Flow"
   :sort-priority 4
   :parent-dimension "def/trade/property/dimension/flow-directions"
   :dimensions ["data/gss_data/trade/hmrc-overseas-trade-statistics/hmrc-overseas-trade-statistics-sitc#dimension/flow_type"
                "data/gss_data/trade/hmrc-overseas-trade-statistics/hmrc-overseas-trade-statistics-cn8#dimension/flow_type"]}
  {:name "Date"
   :sort-priority 5
   :parent-dimension "sdmxd:refPeriod"}
  {:name "Basis"
   :sort-priority 6
   :parent-dimension "def/trade/property/dimension/international-trade-basis"}
  {:name "Seasonality"
   :sort-priority 7
   :parent-dimension "def/trade/property/dimension/seasonal-adjustments"}]}
