{:ook.search/facets
 [{:name "Product"
   :parent-dimension "def/trade/property/dimension/product"}
  {:name "Industry" ;; should this be further down the list?
   :parent-dimension "def/trade/property/dimension/industry"}
  ;; {:name "Reporter Geography" ;; should this be joined with def/trade/property/dimension/geography or sdmxd:refArea
  ;;  :parent-dimension "def/trade/property/dimension/reporter-geography"}
  ;; {:name "Partner Geography"
  ;;  :parent-dimension "def/trade/property/dimension/partner-geography"}
  {:name "Geography"
   :parent-dimension "sdmxd:refArea"}
  {:name "Flow"
   :parent-dimension "def/trade/property/dimension/flow-directions"}
  {:name "Date"
   :parent-dimension "sdmxd:refPeriod"}
  {:name "Measure"
   :parent-dimension "qb:measureType"}
  {:name "Basis"
   :parent-dimension "def/trade/property/dimension/international-trade-basis"}
  {:name "Seasonality"
   :parent-dimension "def/trade/property/dimension/seasonal-adjustments"}]}
