{:ook.concerns.reitit/router {:routes
                              [;; permalink-able routes that returning html
                               ["/" {:get {:handler #ig/ref :ook.handler/main}}]
                               ["/search" {:get {:handler #ig/ref :ook.handler/main}}]

                               ;; internal API routes
                               ["/get-codes" {:get {:handler #ig/ref :ook.handler/get-codes}}]
                               ["/apply-filters" {:get {:handler #ig/ref :ook.handler/apply-filters}}]
                               ["/datasets" {:get {:handler #ig/ref :ook.handler/datasets}}]

                               ;; assets
                               ["/assets/*" #ig/ref :ook.concerns.reitit/resource-handler]]}

 :ook.handler/main          {:search/facets #ig/ref :ook.search/facets}

 :ook.handler/get-codes     {:search/db #ig/ref :ook.search.elastic/db}
 :ook.handler/apply-filters {:search/db #ig/ref :ook.search.elastic/db}
 :ook.handler/datasets      {:search/db #ig/ref :ook.search.elastic/db}
 :ook.search.elastic/db     {:elastic/endpoint #ig/ref :ook.concerns.elastic/endpoint}

 :ook.search/facets
 [{:name "Product"
   :dimensions ["http://gss-data.org.uk/def/trade/property/dimension/product"
                "http://gss-data.org.uk/def/trade/property/dimension/sitc-4"
                "http://gss-data.org.uk/data/gss_data/trade/ons_pinkbook#dimension/pink-book-services"
                "http://gss-data.org.uk/data/gss_data/trade/ons_cpa#dimension/cpa-2008"
                "http://gss-data.org.uk/data/gss_data/trade/ons_mrets#dimension/mrets-product"]}
  {:name "Industry"
   :dimensions ["http://gss-data.org.uk/data/gss_data/trade/ons-uk-trade-in-services-by-industry-country-and-service-type-exports/pcn#dimension/industry"
                "http://gss-data.org.uk/def/trade/property/dimension/industry-section"
                "http://gss-data.org.uk/data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/sector"
                "http://gss-data.org.uk/data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/subsector"
                "http://gss-data.org.uk/def/trade/property/dimension/sic-2007"
                "http://gss-data.org.uk/def/trade/property/dimension/ons-functional-category"
                "http://gss-data.org.uk/data/gss_data/trade/ons-uk-trade-in-services-by-industry-country-and-service-type-exports/pcn#dimension/service-account"]}
  {:name "Geography"
   :dimensions ["http://gss-data.org.uk/data/gss_data/trade/ons-uk-trade-in-services-by-industry-country-and-service-type-exports/pcn#dimension/country"
                "http://gss-data.org.uk/data/gss_data/trade/ons-uk-sa-trade-in-goods#dimension/ons-partner-geography"
                "http://gss-data.org.uk/data/gss_data/trade/ons-reuk-service#dimension/nuts-geography"
                "http://gss-data.org.uk/data/gss_data/trade/ons_cpa#dimension/ons-partner-geography"
                "http://gss-data.org.uk/def/trade/property/dimension/country-of-ownership"
                "http://gss-data.org.uk/data/gss_data/trade/ons-quarterly-country-and-regional-gdp#dimension/reference-area"
                "http://gss-data.org.uk/data/gss_data/trade/dcms-sectors-economic-estimates-year-trade-in-services#dimension/country"
                "http://gss-data.org.uk/data/gss_data/trade/hmrc-regional-trade-statistics#dimension/uk-region"
                "http://gss-data.org.uk/data/gss_data/trade/hmrc-regional-trade-statistics#dimension/country"
                "http://gss-data.org.uk/def/trade/property/dimension/country-area"
                "http://gss-data.org.uk/data/gss_data/trade/ons_mrets#dimension/trade-area"]}
  {:name "Flow"
   :parent-dimension "http://gss-data.org.uk/def/trade/property/dimension/flow-directions"}
  {:name "Date"
   :parent-dimension "http://purl.org/linked-data/sdmx/2009/dimension#refPeriod"}
  {:name "Basis"
   :parent-dimension "http://gss-data.org.uk/def/trade/property/dimension/international-trade-basis"}
  {:name "Seasonality"
   :parent-dimension "http://gss-data.org.uk/def/trade/property/dimension/seasonal-adjustments"}]}
