<?xml version="1.0" encoding="UTF-8"?>
<!-- Watch file for changes every 10 seconds -->
<Configuration status="info" monitorInterval="10">

    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
      <RollingFile name="file-log" fileName="${log-path}/eco-api.log"
                     filePattern="${log-path}/muttnik-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
      <Root level="info" additivity="false">
        <appender-ref ref="console" level="info"/>
        <appender-ref ref="file-log" level="debug"/>
      </Root>
    </Loggers>
</Configuration>
