{:ook.index/data
 {:ook.concerns.elastic/endpoint #ig/ref :ook.concerns.elastic/endpoint
  :drafter-client/client #ig/ref :drafter-client/client
  :ook.etl/target-datasets #ig/ref :ook.etl/target-datasets}
 
 :ook.etl/target-datasets
 {:sparql "PREFIX dcat: <http://www.w3.org/ns/dcat#>
           PREFIX gdp: <http://gss-data.org.uk/def/gdp#>
           SELECT ?dataset WHERE { ?dataset dcat:theme gdp:trade }"
  :client #ig/ref :drafter-client/client}}
