<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" packages="de.bwaldvogel.log4j">
    <Appenders>
        <SystemdJournal name="journal" logStacktrace="true" logSource="false">
            <PatternLayout pattern="[%-5level] [%t] %c{1} - %msg%n" />
        </SystemdJournal>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="journal" />
        </Root>
    </Loggers>
</Configuration>