html {
  /* set the default font size larger than bootstrap's default */
  /* it's fine because they use rems for all the other font sizes */
  font-size: 18px;
}

.ook-datasets {
  overflow-x: auto;
}

.ook-datasets .vertical-truncate {
  max-height: 105px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.title-column {
  min-width: 35rem;
  max-width: 35rem;
}

.btn-xs {
  font-size: .65rem;
  line-height: .5;
  border-radius: .2rem;
}

button svg {
  fill: black;
  stroke: black;
  opacity: 0.5;
}

button.btn-dark svg {
  fill: white;
  stroke: white;
  opacity: 1;
}

button.applied-facet:hover svg {
  fill: white;
  stroke: white;
  opacity: 1;
}

/* Custom branch lines for code tree views */

.filters .search-results {
  --child-space: 2.5rem;
  --child-line-width: 2rem;
}

.filters ul.children,
.filters ul.top-level {
  list-style: none;
  padding: 0;
  position: relative;
}

.filters .child {
  padding-top: 0.4rem;
}

.filters .children .child {
  padding-left: 3.5rem;
}

.filters .search-results .children .child {
  border-left: 1px solid #cecece;
  margin-left: 4px;
  position: relative;
  padding-left: var(--child-space);
}

.filters .search-results .children .child:last-child {
  border-left: 1px solid transparent;
}

.filters .search-results .children .child:before {
  content: "";
  width: var(--child-line-width);
  display: block;
  position: relative;
  border-bottom: 1px solid #cecece;
  top: 12px;
  right: var(--child-space);
}

.filters .search-results .children .child:last-child::before {
  border-left: 1px solid #cecece;
  height: 22px;
  width: calc(var(--child-line-width) + 1px);
  position: absolute;
  left: -1px;
  top: 0px;
}
