.ook-datasets {
  overflow-x: auto;
}

.ook-datasets table {
  table-layout: fixed;
}

.ook-datasets .vertical-truncate {
  max-height: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.title-column-header {
  min-width: 30rem;
}
