{:calls [{:arg-key {:query-string nil,
                    :request-method :post,
                    :server-name "idp-beta-drafter.publishmydata.com",
                    :server-port nil,
                    :uri "/v1/sparql/live"},
          :return {:body #vcr-clj/input-stream ["Z3JhcGgNCg=="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Alt-Svc" "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
                    "Connection" "close",
                    "Content-Length" "7",
                    "Content-Type" "text/csv",
                    "Date" "Wed, 06 Jul 2022 15:22:50 GMT",
                    "Server" "nginx",
                    "Strict-Transport-Security" "max-age=15768000",
                    "Via" "1.1 google"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 7,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string nil,
                    :request-method :post,
                    :server-name "idp-beta-drafter.publishmydata.com",
                    :server-port nil,
                    :uri "/v1/sparql/live"},
          :return {:body #vcr-clj/input-stream ["Z3JhcGgNCg=="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Alt-Svc" "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
                    "Connection" "close",
                    "Content-Length" "7",
                    "Content-Type" "text/csv",
                    "Date" "Wed, 06 Jul 2022 15:22:50 GMT",
                    "Server" "nginx",
                    "Strict-Transport-Security" "max-age=15768000",
                    "Via" "1.1 google"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 7,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}
         {:arg-key {:query-string nil,
                    :request-method :post,
                    :server-name "idp-beta-drafter.publishmydata.com",
                    :server-port nil,
                    :uri "/v1/sparql/live"},
          :return {:body #vcr-clj/input-stream ["Z3JhcGgNCg=="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"Alt-Svc" "h3=\":443\"; ma=2592000,h3-29=\":443\"; ma=2592000",
                    "Connection" "close",
                    "Content-Length" "7",
                    "Content-Type" "text/csv",
                    "Date" "Wed, 06 Jul 2022 15:22:51 GMT",
                    "Server" "nginx",
                    "Strict-Transport-Security" "max-age=15768000",
                    "Via" "1.1 google"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 7,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2022-07-06T15:22:49.366-00:00"}
